*{
   color: white;
   font-family: 'Dunbarlow', sans-serif; 
}
h1{
  font-family: 'Dunbarlow', sans-serif; 
}

a {
            display: inline-block;
        }
header{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-weight: bold;
}
header>img{
  size: 5em;
}

.homecontainer{
display: flex;
justify-content: center;
align-items: center;

}
.home:hover{
  animation-play-state: paused; /* Pausar la animación cuando se hace hover */
}
.home{
  transition: transform 0.5s ease; /* Transición suave para la rotación */
  animation: rotate 3s linear infinite; /* Animación de rotación infinita */
position: fixed;

}
.home>a>img{
  height: 10vh; 
}


.home{
  height: auto;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}




body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
  }
  #container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
  }

  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
a {
    display: inline-block;
}